{# src/Nurun/RhBundle/Resources/views/Conseiller/editmandat.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Ajouter un RDP - {{ parent() }}
{% endblock %}

{% block rh_body %}

  <h2>Ajouter un gestionnaire</h2>

  {{ include("NurunRhBundle:ConseillerRdp:form.html.twig") }}

  <a href="{{ referer }}" class="btn btn-default">
    <i class="glyphicon glyphicon-menu-left"></i>
    Annuler
  </a>

{% endblock %}