{# src/Nurun/RhBundle/Resources/views/Conseiller/add.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Ajouter une affectation - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Ajouter une affectation</h2>

  {{ include("NurunRhBundle:ConseillerMandat:form.html.twig") }}

  <p>
    Attention : cette affectation sera ajoutée directement
    après validation du formulaire.
  </p>

{% endblock %}