{# src/Nurun/RhBundle/Resources/views/Diplome/edit.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Modifier un diplôme - {{ parent() }}
{% endblock %}

{% block rh_body %}

  <h2>Modifier un diplôme</h2>

  {{ include("NurunRhBundle:Diplome:form.html.twig") }}

  <p>
    Vous éditez un diplôme déjà existant, merci de faire attention.
  </p>

  <p>
    
  </p>

{% endblock %}