{# src/Nurun/RhBundle/Resources/views/Client/index.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Chargement de fichier diplomes - {{ parent() }}
{% endblock %}

{% block rh_body %}

	<h2>Chargement des diplomes</h2>
	{{ form_errors(form) }}

	<div class="well">
		<form action="#" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}

		<input class="btn btn-primary" type="submit" value="Chargement fichier" />
		</form>
	</div>

{% endblock %}