{# src/Nurun/RhBundle/Resources/views/Mandat/add.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Ajouter un mandat - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Ajouter un mandat</h2>

  {{ include("NurunRhBundle:Mandat:form.html.twig") }}

  <p>
    Attention : ce mandat sera ajouté directement
    sur la page d'accueil après validation du formulaire.
  </p>

{% endblock %}