{# src/Nurun/RhBundle/Resources/views/Conseiller/addAffectations.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Ajouter des affectations
{% endblock %}

{% block body %}

  <h2>Ajouter des affectations au mandat<br>{{ mandat.client }}-{{ mandat.identifiant }}</h2>

  {{ include("NurunRhBundle:Mandat:affectationForm.html.twig") }}

  <p>
    Attention : ces affectations seront ajoutées directement
    après validation du formulaire.
  </p>

{% endblock %}