{# src/Nurun/RhBundle/Resources/views/Mandat/upload.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Chargement de mandats - {{ parent() }}
{% endblock %}

{% block rh_body %}

  <h2>Chargement des mandats</h2>
{{ form_errors(form) }}

  <div class="well">
    <form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input class="btn btn-primary" type="submit" value="Chargement fichier" />
    </form>
  </div>

{% endblock %}