{# src/Nurun/RhBundle/Resources/views/SourceAffectation/edit.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Modifier une source d'affectation - {{ parent() }}
{% endblock %}

{% block rh_body %}

  <h2>Modifier une source d'affectation</h2>

  {{ include("NurunRhBundle:SourceAffectation:form.html.twig") }}


{% endblock %}