{# src/Nurun/RhBundle/Resources/view/Conseiller/view.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
    Bienvenue - {{ parent() }}
{% endblock %}

{% block rh_body %}

        <h2>Bienvenue sur l'application Kentel</h2>
        <br>
        <i>"Kentel" est un mot breton signifiant "Bon conseil"</i>
        <br>
        <br>

        <div class="well">
                    <h4>
                        Cette application a été développée afin de répondre à un besoin de gestion des conseillers des vices-présidences de prestation.
                        Pour cela, vous retrouverez dans les menus de gauche des liens vous permettant de gêrer nos conseillers mais également leurs affectations
                        et mandats.<br><br>
                        En cas de besoins, n'hésitez pas à contacter le <a href="mailto:cedric.thibault@nurun.com">responsable</a> de cette application.
                    </h4>
                    
                    

        </div>       

{% endblock %}