{# src/Nurun/RhBundle/Resources/views/Conseiller/edit.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Modifier un conseiller - {{ parent() }}
{% endblock %}

{% block rh_body %}

  <h2>Modifier un conseiller</h2>

  {{ include("NurunRhBundle:Conseiller:form.html.twig") }}

  <p>
    Vous éditez un conseiller déjà existant.
  </p>

  <p>
    
  </p>

{% endblock %}