{# src/Nurun/RhBundle/Resources/views/Client/index.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Chargement de conseillers - {{ parent() }}
{% endblock %}

{% block rh_body %}

  <h2>Chargement des conseillers</h2>
{{ form_errors(form) }}

  <ul>
    <form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Chargement fichier" />
    </form>
  </ul>

{% endblock %}